[submodule "external/intel_avb"]
	path = external/intel_avb
	url = https://github.com/zarfld/intel_avb.git

[submodule "external/intel_igb"]
	path = external/intel_igb
	url = https://github.com/intel/ethernet-linux-igb.git

[submodule "external/iotg_tsn_ref_sw"]
	path = external/iotg_tsn_ref_sw
	url = https://github.com/intel/iotg_tsn_ref_sw.git

[submodule "external/intel_mfd"]
	path = external/intel_mfd
	url = https://github.com/intel/mfd-network-adapter.git

[submodule "external/windows_driver_samples"]
	path = external/windows_driver_samples
	url = https://github.com/microsoft/Windows-driver-samples.git

[submodule "external/open_network_insight"]
	path = external/open_network_insight
	url = https://github.com/Open-Network-Insight
